 .maindiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    /* border: 5px solid red; */
    flex-wrap: wrap;
 }

 .imgbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(222, 220, 220);
    border-radius: 8px;
    flex-direction: column;
    width: 200px;
 }

 .img {
        width: 100px;
        height: 100px;
 }